<section class="container text-color-primary">
	<div class="mt-4 text-center">
		<h1 class="display-3">SOBRE</h1>
	</div>
	<section class="row no-gutters mt-4">
		<div class="col-12 col-md-5 d-flex align-items-center justify-content-center order-2 order-md-1">
			<img
				src="../../../assets/images/zone_arq_1.png"
				alt="Imagem dos proprietarios"
				class="img-thumbnail shadow"
			/>
		</div>
		<div class="col-12 col-md-7 align-self-center order-1 order-md-2 mb-2 mb-md-0 px-md-3 px-lg-0">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolore corrupti nemo possimus accusamus, distinctio quaerat eaque harum aliquid corporis perferendis, earum placeat labore consequuntur tempora repellat illum officiis quisquam.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil est nostrum, corrupti quia ab accusamus voluptates sit eum iste suscipit dolore perferendis ullam, veritatis commodi cupiditate temporibus ex dolores sint.
			</p>
		</div>
	</section>
	<section class="mt-4 text-center">
		<h1 class="display-4">NOSSA EQUIPE</h1>
	</section>
	<section class="row no-gutters mt-4">
		<div class="col-12 col-md-5 d-flex align-items-center justify-content-center order-2 order-md-1">
			<img
				src="../../../assets/images/zone_arq_2.png"
				alt="Imagem dos proprietarios"
				class="img-thumbnail shadow"
			/>
		</div>
		<div class="col-12 col-md-7 align-self-center mb-2 mb-md-0 px-md-3 px-lg-0 order-1 order-md-2">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolore corrupti nemo possimus accusamus, distinctio quaerat eaque harum aliquid corporis perferendis, earum placeat labore consequuntur tempora repellat illum officiis quisquam.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil est nostrum, corrupti quia ab accusamus voluptates sit eum iste suscipit dolore perferendis ullam, veritatis commodi cupiditate temporibus ex dolores sint.
			</p>
		</div>
	</section>
</section>
