<section class="container text-color-primary">
	<div class="mt-4 text-center">
		<h1 class="display-4">Alguns dos nossos projetos</h1>
	</div>
	<div class="row mt-4 mt-lg-5">
		<div class="d-flex justify-content-center col-12 col-md-6 col-lg-4 mt-3 mt-md-0">
			<img src="../../../assets/images/projeto1.png" alt="" class="img-fluid shadow rounded">
		</div>
		<div class="d-flex justify-content-center col-12 col-md-6 col-lg-4 mt-3 mt-md-0">
			<img src="../../../assets/images/projeto2.png" alt="" class="img-fluid shadow rounded">
		</div>
		<div class="d-flex justify-content-center col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
			<img src="../../../assets/images/projeto3.png" alt="" class="img-fluid shadow rounded">
		</div>

		<div class="d-flex justify-content-center col-12 col-md-6 col-lg-4 mt-4">
			<img src="../../../assets/images/projeto4.png" alt="" class="img-fluid shadow rounded">
		</div>
		<div class="d-flex justify-content-center col-12 col-md-6 col-lg-4 mt-4">
			<img src="../../../assets/images/projeto5.png" alt="" class="img-fluid shadow rounded">
		</div>
		<div class="d-flex justify-content-center col-12 col-md-6 col-lg-4 mt-4">
			<img src="../../../assets/images/projeto6.png" alt="" class="img-fluid shadow rounded">
		</div>

		<div class="d-flex justify-content-center col-12 col-md-6 col-lg-4 mt-4">
			<img src="../../../assets/images/projeto7.png" alt="" class="img-fluid shadow rounded">
		</div>
		<div class="d-flex justify-content-center col-12 col-md-6 col-lg-4 mt-4">
			<img src="../../../assets/images/projeto8.png" alt="" class="img-fluid shadow rounded">
		</div>
		<div class="d-flex justify-content-center col-12 col-md-6 col-lg-4 mt-4">
			<img src="../../../assets/images/projeto9.png" alt="" class="img-fluid shadow rounded">
		</div>
	</div>
</section>