<footer class="footer-height px-5 py-4 mt-5 border-top text-color-primary font-weight-light w-100">
	<div class="row w-75 mx-auto">
		<div class="col-12 col-lg-4 mb-4 mb-lg-0 px-5 px-lg-2 align-self-center">
			<div class="mb-2">
				+55 (81) 3090-6734
			</div>
			<div>
				zonearquiteturta@gmail.com
			</div>
		</div>
		<div class="col-12 col-lg-4 mb-4 mb-lg-0 px-5 px-lg-2">
			<div class="mb-2">
				Rua do Giriquiti, 48 - Boa Vista
			</div>
			<div>
				Recife - PE, 50070-010
			</div>
		</div>
		<div class="col-12 col-lg-4 mb-lg-0 px-5 px-lg-2 ">
			<div class="mb-2 ">
				<span><a href="#" class="text-decoration-none">Facebook</a></span> <span class="mx-2 font-size-separator">&#9679;</span> <span><a href="https://www.instagram.com/zone.arquitetura/" class="text-decoration-none">Instagram</a></span>
			</div>
		</div>
	</div>
</footer>